body{
    background-color: #e1e1e1;
    overflow-x: hidden;
}
.navbar{
    background-color: #347ab6;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
#slideMenu {
    position: fixed;
    right: 0;
    top: 56px;
    width: 300px;
    height: 100vh   ;
    border-left: 0px;
    background-color: #efefef;
    z-index: 20;
}
.col-md-12,.col-sm-12{
    padding: 0;
}
.contente{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 260px;
    z-index: 20;
    border-style: solid;
    border: thin;
    border-color: #ccc;
    padding: 10px;
    background-color: #FFF;
    font: 12px/25px Verdana, Arial, Helvetica, sans-serif;
}
.toggler{
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 45px;
    height: 78px;
    position: absolute;
    top: 32.5%;
    cursor: pointer;
}
.sidebar-right > .toggler{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #fff;
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);
    box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);
    left: -45px;
}
.sidebar-right > .toggler > i {
    margin: 15px 2px;
}
.aktif,.biasa,.terjawab{
    transition: 0.3s;
}
.aktif{
    border: 3px solid #007bff;
    background-color: #007bff;
    color:white;
}
.aktif:hover{
    border: 3px solid #0a65c7;
    background-color: #0a65c7;
    color:white;
    text-decoration: none;
}
.biasa{
    border: 3px solid #17a2b8;
    color:black;
    background-color: white;
}
.biasa:hover{
    border: 3px solid #0e4d57;
    color:black;
    background-color: white;
    text-decoration:none;
}
.terjawab{
    border: 3px solid #28a745;
    background-color: #28a745;
    color:white;
}
.terjawab:hover{
    border: 3px solid #208337;
    background-color: #208337;
    color:white;
    text-decoration:none;
}
.link-pag{
    border-radius:2px;
    font-size:20px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 53px;
}